@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
/* background-size: cover;
    background-position: bottom; */

body {
  background-color: rgb(18, 18, 18);
}

#box {
  height: 100%;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.song {
  height: 80%;
  width: 30%;
  background-color: #dedede;
  /* border-radius: 2vw; */
  margin: 1.2vw;
  padding: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  margin-bottom: 2vw;
}

.thumbnail {
  height: 100%;
  width: 100%;
}

.desc {
  /* margin-left: 0.3vw; */
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.desc h1 {
  color: #1c1c1c;
  font-size: 2.2vw;
  margin: 2vw 0 0 2vw;
  font-weight: 800;
}

button {
  font-size: 2vw;
  margin: 2vw 0 0 2vw;
  height: 3vw;
  width: 4vw;
  color: #242f4d;
  cursor: pointer;
  /* border-radius: 2vw; */
}

button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

#first .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#second .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#third .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  #box {
    flex-direction: column;
    margin-top: 40vw;
    margin-bottom: 10vw;
  }
  .song {
    height: 90vw;
    width: 50vw;
    margin-bottom: 5vw;
    padding: 4vw;
  }

  .desc h1 {
    font-size: 6.6vw;
    margin: 3vw 0 0 3vw;
  }

  button {
    height: 8vw;
    width: 12vw;
    font-size: 6vw;
  }
}
